*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #262626;
    outline: transparent;
    border: none;

    font-family: 'Roboto', sans-serif;
}

:-moz-placeholder{
    color: #262626;
    font-size: 10px;
}
::-webkit-input-placeholder{
    color: #262626;
    
}

body{
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 4px;
    background-color: whitesmoke;
}

.app-title{
    color: #fff;
    text-align: center;
    grid-column: 1/13;
    padding: 50px 0;
    background-color: rgb(93, 194, 26);
}

.todo-form{
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-form  > input{
    width: 300px;
    font-size: 25px;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
    box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    margin: 30px 0;
}

input:focus{
    -webkit-box-shadow: 0px 0px 0px 4px rgba(154, 205, 50,1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(154, 205, 50,1);
    box-shadow: 0px 0px 0px 4px rgba(154, 205, 50,1);
}

#description:focus{
    -webkit-box-shadow: 0px 0px 0px 4px rgba(154, 205, 50,1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(154, 205, 50,1);
    box-shadow: 0px 0px 0px 4px rgba(154, 205, 50,1);
}

.todo-form textarea{
    resize: none;
    width: 300px;
    font-size: 17px;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
    box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
    padding: 10px;
}

input[type="submit"].submit{
    padding: 10px 30px;
    background-color: #fff;
    color: #262626;
    border: none;
    cursor: pointer;
    font-weight: 700;
    width: auto;
    outline: transparent;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
    box-shadow: 0px 0px 0px 2px rgba(51,51,51,1);
}

.todo-list{
    display: flex;
    flex-direction: column;
    grid-column: 7/13;
    align-items: center;
    padding: 30px;
}

.todo-item{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: #fff;
    padding: 15px;
    border-radius: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 4px 5px 10px 0px rgba(204,204,204,1);
    -moz-box-shadow: 4px 5px 10px 0px rgba(204,204,204,1);
    box-shadow: 4px 5px 10px 0px rgba(204,204,204,1);
}

.todo-title{
    flex-grow: 2;
}

.todo-title,
.todo-date,
.todo-time,
.delete{
    text-align: center;
}

.todo-date{
    margin-right: 20px;
}


.delete{
    color: rgb(255, 51, 0);
    cursor: pointer;
    border: 1px solid red;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-right: 20px;
}

.description{
    display: flex;
    flex-wrap: wrap;
    height: 0;
    flex-basis: 100%;
    overflow: hidden;
}

.todo-description{
    overflow: hidden;
    flex-basis: 100%;
    margin-top: 40px;
}

.show-desc{
    cursor: pointer;
    font-size: 30px;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.show-desc:hover{
    color: rgb(154, 205, 50);
}

@keyframes rotate{
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(180deg);
    }
}

@keyframes rotateBack{
    0%{
        transform: rotateZ(180deg);
    }

    100%{
        transform: rotateZ(0deg);
    }
}

